# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore virtual environments
venv
env

# Ignore VSCode settings
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build and log files
*.log
*.sqlite3
